﻿@{
    Layout = null;
    ViewData["Tittle"] = "Recuperar senha";
}

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Esqueceu sua senha?</h1>
    <form>
        <input required type="email" id="email" placeholder="E-mail" />
        <button>Enviar</button>
    </form>
</section>

<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/forgot.js"></script>