﻿@{
    Layout = null;
    ViewData["Tittle"] = "Criar conta";
}

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Crie sua conta de graça!</h1>
    <form>
        <input id="username" placeholder="Username" />
        <input type="email" id="email" placeholder="E-mail" />
        <input type="password" required id="password" placeholder="Senha" />
        <input type="password" required id="confirmPassword" placeholder="Confirmar Senha" />
        <button>Criar</button>
    </form>
</section>

<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signup.js"></script>

