@{
    Layout = null;
    ViewData["Title"] = "Criar Conta";
}

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Crie sua conta aqui!</h1>
    <form>
        <input placeholder="Username" />
        <input placeholder="E-mail" />
        <input placeholder="Senha" />
        <input placeholder="Confirme sua senha" />
        <button>Criar conta</button>
    </form>
</section>
